/* Global styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

body {
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #101110;
    padding: 10px 15px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-img img {
    max-width: 120px;
}

.menu-toggle {
    display: none;
    color: #f2f2f2;
    font-size: 1.5rem;
    cursor: pointer;
}

.links-sections {
    display: flex;
    gap: 15px;
}

.links-sections a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
}

.links-sections a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 4px;
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .links-sections {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
    }

    .links-sections.active {
        max-height: 500px;
    }

    .links-sections a {
        padding: 10px 15px;
    }
}

/* HEADER */
header {
    position: relative;
    height: 450px;
    overflow: visible;
}

.bg-image {
    background-image: url(assets/header-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    padding: 0 20px;
}

.header-content section:first-child {
    max-width: 500px;
}

.header-content h1 {
    font-weight: 300;
    font-size: 42px;
    margin-bottom: 5px;
}

.header-content h2 {
    font-weight: 300;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 25px;
}

.header-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
}

.header-content li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 8px;
    font-size: 15px;
}

.header-content li:before {
    content: "- ";
    position: absolute;
    left: 0;
}

.tags {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.tags img {
    height: 68px;
    cursor: pointer;
}

.header-content section:nth-child(2) {
    position: relative;
    display: flex;

}

.header-content section:nth-child(2) img {
    max-height: 450px;
    object-fit: contain;
}

@media (max-width: 992px) {
    .header-content section:nth-child(2) img {
        max-height: 400px;
    }
}

@media (max-width: 768px) {
    header {
        height: auto;
        padding: 40px 0;
    }

    .header-content {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .header-content section:first-child {
        margin-bottom: 30px;
    }

    .header-content h1 {
        font-size: 36px;
    }

    .header-content h2 {
        font-size: 26px;
    }

    .header-content li {
        text-align: left;
    }

    .tags {
        justify-content: center;
        margin: 0 auto;
    }

    .header-content section:nth-child(2) {
        justify-content: center;
        margin-bottom: -30px;
    }

    .header-content section:nth-child(2) img {
        max-height: 350px;
    }

}

@media (max-width: 576px) {
    .header-content h1 {
        font-size: 30px;
    }

    .header-content h2 {
        font-size: 24px;
    }

    .header-content section:nth-child(2) img {
        max-height: 300px;
    }

}

@media (max-width: 368px) {
    .tags {
        width: 120px;
        height: auto;
        flex-direction: column;
    }
}